#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
background-color: rgba(255, 149, 0, 0.213);
}

#user-details-container {
    display: none;
    margin-top: 1rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 12px 4px 8px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(134, 208, 243, 0.418);
    width: 50%;
    height: 40%;
}

#username-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;;
    margin-bottom: 1rem;
    max-width: 100%;
}

#user-details-form
{
    margin-top: 3rem;

}

#user-details-form input{
    border: none;
}
#user-details-form button{
    margin-top: 3rem;
    width: 6rem;
    height:2.5rem;
    border-radius: .5rem .5rem;
    border: 1px solid rgba(0, 0, 0, 0.137);
}
#user-details-form button:hover {
    background-color: rgba(29, 111, 26, 0.749);
}
#main-container h1 {
    margin-top: 5rem;
  
    text-align: center;
}

#user-response-yes-btn {
    align-self: right;
    margin: 1rem;
}

#user-response-no-btn {
    margin: 1rem;
}

.btn-container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.response-btn {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: .5rem .5rem;
}

.response-btn:hover {
    background-color: rgba(29, 111, 26, 0.749);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 40%;
    margin-top: 10rem;
    margin: auto; 
}

.form-container div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-right: .5rem;
}

input {
    padding: 4px;
    font-size: 16px;
    width: 150px;
    height: 25px;
    margin-left: .5rem;
    border-radius: .5rem .5rem;
}

#userNameBtn {
    padding: 8px 15px;
    background: rgba(48, 140, 246, 0.846);
    margin-top: 1rem;
    color: rgb(9, 9, 9);
    border: none;
    width: 30%;
    text-align: center;
    border-radius: .5rem .5rem;
}

#userNameBtn:hover {
    background-color: rgba(29, 111, 26, 0.749);
} */

.game-choice-btn {
    width: 15rem; 
    height: 15rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background: transparent;
}

.game-choice-btn img {
    width: 100%; 
    height: auto; 
    max-width: 15rem; 
    max-height: 15rem; 
    object-fit: contain; 
    border-radius: 2px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.choice-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-container h3 {
    margin-bottom: 2rem;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


.user-choice-img,
.computer-choice-img {
  
    width: 30%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.result-container {
    position: absolute;
    top: 15rem;
    left: 50%;
    /* margin-top: 2rem; */
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}